<body>
	<main>
		<div class="container">
			<nav class="nav-bar">
				<app-header></app-header>
			</nav>
			<div class="content">
				<div class="content-main">
					<div class="row">
						<form class="c-form box-shadow was-validated" [formGroup]="data">
							<ul>
								<li class="title">会員情報編集</li>
								<li class="box-err">
									<div class="box-err-content">Hiển thị lỗi chung lại đây</div>
								</li>
								<!-- Textbox EmployeeLoginId----------------------------------------->
                                
								<li class="form-group row d-flex">
                                    <label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span class="note-red">*</span></i></label>
                                    <div class="col-sm col-sm-10">
                                        <input type="text" class="form-control" formControlName="employeeLoginId" [ngClass]="{'is-invalid' : submitted && data.controls['employeeLoginId'].errors}" [readonly] = 'disEmployeeName' [class.readonLy]="disEmployeeName" >
                                        <div *ngIf="((data.get('employeeLoginId')?.errors) && ( data.get('employeeLoginId')?.touched))|| checkValidSubmit ">
                                            <div class="invalid-feedback " >
                                                {{data.controls['employeeLoginId'].errors?.['params']}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">グループ:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<select class="form-control" formControlName="departmentId">
                                            <option value="">選択してください</option>
											<option *ngFor="let de of department" [value]="de.departmentId">{{de?.departmentName}}</option>
										</select>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<input type="text" class="form-control" required>
										<div class="invalid-feedback">Example invalid form file feedback</div>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">生年月日:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10 d-flex">
										<div class="input-group date datepicker" data-date-format="dd-mm-yyyy">
											<input class="form-control" readonly="" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">メールアドレス:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">電話番号:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">パスワード:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">パスワード（確認）:</i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="title mt-12">日本語能力</li>
								<!-- Phần certification của employee---------------------------------------------------------->
								<div formGroupName="certifications">
									<!-- CertificationId---------------------------------------------------------------------->
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">資格:</i></label>
										<div class="col-sm col-sm-10">
											<select class="form-control" formControlName="certificationId">
												<option value="">選択してください</option>
												<option *ngFor="let ce of certification" [value]="ce.certificationId">{{ce.certificationName}}</option>
											</select>
										</div>
									</li>
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">資格交付日:<span class="note-red">*</span></i></label>
										<div class="col-sm col-sm-10 d-flex">
											<div id="datepicker" class="input-group date datepicker" data-date-format="dd-mm-yyyy">
												<input class="form-control" readonly="" type="text">
												<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											</div>
										</div>
									</li>
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">失効日:<span class="note-red">*</span></i></label>
										<div class="col-sm col-sm-10 d-flex">
											<div class="input-group date datepicker" data-date-format="dd-mm-yyyy">
												<input class="form-control" readonly="" type="text">
												<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											</div>
										</div>
									</li>
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">点数:</i></label>
										<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
									</li>
									<li  class="form-group row d-flex">
										<div class="btn-group col-sm col-sm-10 ml">
											<button type="button" class="btn btn-primary btn-sm" onClick="location.href = './ADM005.html';return false;">確認</button>
											<button type="button" class="btn btn-secondary btn-sm" onClick="location.href = './ADM002.html';return false;">戻る</button>
										</div>
									</li>
								</div>
							</ul>
						</form>
					</div>
				</div>

			</div>
			<app-footer></app-footer>
		</div>	
	</main>
</body>